@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Aman Kumar - 500246411</h1>
    <p>Changed this line to show after git push</p>
</div>
